@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 251, 235;
  --background-end-rgb: 255, 241, 242;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      rgb(var(--background-start-rgb)),
      rgb(255, 255, 255),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 2px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  button, a {
    min-height: 44px;
  }
}
